#content {
    position: absolute;
    top: 7%;
    height: 100%;
    width: 100%;
}

#map {
    position: absolute;
    bottom:0%;
    height:100%;
    width:100%;
    z-index:0;
}

#navbar {
    position: absolute;
    top: 0;
    opacity: 1;
    height: 7%;
}

.navbar-nav {
    flex-direction: row;
}

.nav {
    display: inline-block;
}

.nav-item {
    position: absolute;
    height: 75%;
    top: 10%;
}

#sidebar {
    position: absolute;
    height: 100%;
    z-index:1;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#searchbar {
    height: 95%;
    width: 10%;
}
