#content {
    position: absolute;
    height: 95%;
    width: 100%;
}

#map {
    position: absolute;
    height:100%;
    width:100%;
    z-index:0;
}


#navbar {
    opacity: 0;
    height: 5%;
}


#sidebar {
    position: absolute;
    height: 100%;
    z-index:1;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

